<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692335704891-i98v18go28pr3mmtvh9sib5aplbstdhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692335704891-i98v18go28pr3mmtvh9sib5aplbstdhb</string>
	<key>API_KEY</key>
	<string>AIzaSyCsr-XrERCaPoBZk2UpiyUqBzLHse_87WU</string>
	<key>GCM_SENDER_ID</key>
	<string>692335704891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adilayoubbhat.flutteChallange</string>
	<key>PROJECT_ID</key>
	<string>adilayoubchatapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>adilayoubchatapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692335704891:ios:6399d15c926c0eefabd51e</string>
</dict>
</plist>