<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016031509323-3hprm0s57neieua6mkscca9gj1dll84p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016031509323-3hprm0s57neieua6mkscca9gj1dll84p</string>
	<key>API_KEY</key>
	<string>AIzaSyAQuu00YU1uX6fT6NNlUEJ4iDrZ0gEPpy0</string>
	<key>GCM_SENDER_ID</key>
	<string>1016031509323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchallenge.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>derive-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>derive-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016031509323:ios:9a933aa865213dcd5846ce</string>
</dict>
</plist>